@charset "UTF-8";
#engagingscrollbox {
	height: 145px;
	width: 525px;
	padding-right: 15px;
	overflow: auto;
	margin-top:15px;
}
#leftcontent {
	float: left;
	height: 150px;
	width: 350px;
}
#rightcontent {
	float: right;
	height: 150px;
	width: 540px;
}
#morecontent {
	width: 890px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-left: 5px;
}
#content {
	height: 210px;
	width: 890px;
	margin-right: auto;
	margin-left: auto;
	background-image: none;
	padding-right: 5px;
	padding-left: 5px;
}
.logoallign {
	margin-left: 90px;
}
