html {
    overflow-y: scroll;
}

.clear{	clear: both;}

.left{	float: left;}

img.left{	margin: 0 10px 10px 0;	}


	
#LatestSubPage h2{
	margin-bottom: 20px;
}

#LatestSubPage #Content {
	position: absolute;
	top: 60px;
	left: 80px;
}

#LatestSubPage h2{
	float: left;
}

.fileList, .fileList ul {
  list-style: none;
}

.fileList li {
	clear: both;  }

.fileList ul {
  margin: 0 ! important;
  position: relative; 
}

.fileList ul li {
	width: 240px; 
	float: left;
	clear: none;
	margin-right: 30px; 
	margin-top: 10px; }


.pdfLink a{
  display: block;
	background: url(../images/pdf_icon_21x21.png) no-repeat;
  padding-left: 30px;
	min-height: 30px;
	padding-bottom: 10px; 
}


	
#more-page-scrollbox {
	height: 600px;
	width: 900px;
	overflow:auto;
	margin: 0 auto;
	padding-rightt: 15px;
}

#box {
	width: 1050px;
	height: 756px; 
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background: url(../images/backgroundwithshadow-middle.png) repeat-y center top;
	padding-bottom: 30px;
}


#box-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 1050px;
	height: 30px;
	background: url(../images/backgroundwithshadow-top.png) no-repeat center top;
}
#box-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1050px;
	height: 30px;
	background: url(../images/backgroundwithshadow-bottom.png) no-repeat center bottom;
}

#photobox {
	height: 300px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

#fb-link {
	position: absolute;
	right: 84px;
	top: 335px;
	z-index: 100;	}

body {
	background: #d1d1d1;
	margin:0;
	padding:0;
}
#menu {
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 15px 7px 0px;
}
#menu .following {
	margin-left: 60px;
}
#menu .engaging {
	margin-left: 60px;
}
#menu .connecting {
	margin-left: 60px;
}

#menu .latest, #menu .main {
	margin-left: 60px;
	margin-bottom: 6px;
	margin-top: 20px;
}
.honouring {
	margin-top: 8px;
	margin-left: 230px;
}
#footer {
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
#footerleft {
	float: left;
	height: 50px;
	width: 500px;
	padding-left: 15px;
}
#footerright {
	float: right;
	height: 40px;
	width: 200px;
	margin-right: 15px;
}
.footer-align {
	margin-right: auto;
	margin-left: auto;
}
.titlealignment {
	margin-top: 4px;
	margin-left: 5px;
}
#titlebox {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.logospace {
	margin-left: 200px;
}
table {
	border-width: 0px;
	border-style: none;
}
tr {
	border-width: 0px;
	border-style: none;
}
#footersegments {
	float: left;
	height: 50px;
	width: 260px;
	text-align: right;
}
#searchwrapper {
width:200px; /*follow your image's size*/
height:40px;/*follow your image's size*/
background-image:url(../images/searchbox.png);
background-repeat:no-repeat; /*important*/
padding:0px;
margin:0px;
position:relative; /*important*/
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:9px;
width:150px;
height:28px;
}
 
.searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:150px;
width:32px;
height:28px;
}
.nolink:link {
color:#FFF;
text-decoration:underline;
visited:#FFF;
active:#FFF;
hover:#FFF
}
#maincontent {
	width: 562px;
	padding-right: 15px;
}
#maincontent2 {
	width: 515px;
	padding-right: 20px;
}
#snail{
	position: absolute;
	bottom: 25px; 
	left: 75px;
	height: 38px;
	width: 900px;
	background: url(../images/connecting/snail.jpg)  no-repeat;
}

#snail a{
	display: block;
	width: 20px;
	height: 20px;
	margin: 6px 0 0 680px;
}

#snailSign {
	position: absolute;
	bottom: 25px; 
	left: 70px;
	height: 225px;
	width: 910px;
	background: url(../images/latestsnailsign.jpg)  no-repeat; }

#snailRosterLink{
	display: block;
	width: 180px;
	height: 100px;
	margin: 70px 0 0 190px;
	float: left; }

#snailSignLink{
	display: block;
	position: absolute; 
	width: 180px;
	height: 110px;
	top:60px;
	right:33px;
	text-decoration: none;
}

#backArrow {
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	background: url('../images/backarrow.png') center center no-repeat;	
}

#backText{
	display: block;
	padding-top: 10px;	
}

#backBlock{
	float: right;
	width: 200px;
}

.logospace2 {
	margin-left: 260px;
}
