@font-face {
	font-family: 'FrizQuaNo2D';
	src: url('../webfonts/181492_0.eot');
	src: url('../webfonts/181492_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/181492_0.woff') format('woff'),url('../webfonts/181492_0.ttf') format('truetype');
}

.typography .footertext {
	font: normal 13px/18px Tahoma, Geneva, sans-serif;
	text-transform: none;
	color: #FFF;
	text-align: left;
	margin-top: 6px;
}
.typography .centreallign {
	text-align: center;
}
.typography .footertitles {
	font: 14px Tahoma, Geneva, sans-serif;
	color: #666;
}
.typography .values_text {
	text-transform: none;
	font: normal 30px/25px Verdana, Geneva, sans-serif;
	color: #889CB5;
}
.typography h1 {
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #a4998c;
	margin-top: 0px;
	margin-bottom: 20px;
}
.typography h2 {
	font: 20px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #aeb8d1;
	padding-top: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	
}
.typography p {
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #a4998c;
	text-align: left;
	overflow: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}
.typography li {
	font: normal 14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #a4998c;
	margin: 0px;
	padding: 0px;
	text-align: left;
	
}
.typography ul {
	margin-top: 2px;
	padding: 0px;
	margin-left: 20px; 
}

.typography h3 {
	font: bold 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #a4998c;
	margin-bottom: .5em; 
}

.typography h3.first {
	margin-top: 0; 
}

.typography .morelink {
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.typography .moreText{

	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #A4998C;
	width: 900px;
	letter-spacing: 0px;
	position: absolute;
	display: none;
	z-index: 10000;
	background: white;
	padding-bottom: 10px;
	line-height:130%;
	}

.typography h4 {
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #aeb8d1;
	margin-bottom: 10px;
}
.typography .highlight {
	color: #aeb8d1;
	font-weight: bolder;
}
.typography .foottage {
	font-size: 9px;
	font-weight: bold;
}
.typography .spaceaboveh1 {
	margin-top: 15px;
}
.typography .smallitalicp {
	font-size: 12px;
	font-style: italic;
}
.typography a {
	color: #aeb8d1;
	text-decoration: none;
}
.typography a:visited {
/*	color: #aeb8d1;*/
}
.typography a:hover {
	text-decoration: underline;
}


/**
 * These are used for pieces of blurb text at the top of the page
 */
.typography h5 {
	font: normal 28px/28px "FrizQuaNo2D", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #A4998C;
	margin-top: 0px;
	margin-bottom: 10px;
	letter-spacing: 0px;
}
	.typography h5 .small {
		font-size: 18px;
		color: #aeb8d1;

	}
	/* Use the italic function to show text in a colour */
	.typography h5 em, .typography h5 em  {
		font-variant: normal;
		color: #aeb8d1;
	}
.typography h6 {
	font: normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #A4998C;
	margin-top: 0px;
	margin-bottom: 15px;
}

